[submodule "tod-carla"]
	path = tod-carla
	url = git@github.com:busolind/tod-carla.git
	branch = main
[submodule "tod-omnet"]
	path = tod-omnet
	url = git@github.com:busolind/tod-omnet.git
	branch = main
